* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(206,114,163);
}

h1, ul {
    text-align: center;
}

h1 {
    font-size: 45px;
    margin: 40px;
}

#app ul li {
    font-size: 25px;
    list-style-type: none;
    margin-bottom: 5px;
}
