<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Vue Email List</title>
</head>
<body>

    <h1>Lista di email random</h1>

    <!-- istanza app di Vue  -->
    <div id="app">
        <ul v-if="emailList.length === 10">
            <!-- la lista è visibile solo quando tutti gli indirizzi email sono stati generati -->
            <li v-for="email in emailList">
                {{ email }}
            </li>
        </ul>

    </div>

    

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>